body {
    height: 100%;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #eee), color-stop(1, #5CC3FF));
    background-image: -o-linear-gradient(top, #0060BF, #5CC3FF);
    background-image: -moz-linear-gradient(top, #0060BF, #5CC3FF);
    background-image: -webkit-linear-gradient(top, #0060BF, #5CC3FF);
    background-image: linear-gradient(to bottom, #eee, #5CC3FF);
    background-attachment: fixed;
}
.div {
    .center-block (
        display: block;
        margin-left: auto;
        margin-right: auto;
    );
}

